<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yp.springinit.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="cn.yp.springinit.model.domain.Category">
            <id property="id" column="id" jdbcType="TINYINT"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,create_time,
        update_time,is_deleted
    </sql>
</mapper>
